@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header-hero {
  background-image: url(../../public//assets/bg/hero_bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

.Img {
  max-height: 560.53px;
  gap: 0px;
  opacity: 0px;
}
.Img:hover {
  max-height: 100%;
}

.animate-slide {
  animation: marquee-animation 30s linear infinite;
}
@keyframes marquee-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}
